{% extends 'partials/base.html' %}

{% load static %} 

{% block title %} Contact {% endblock title %}

{% block cssFilename %} /static/contactstyle.css {% endblock cssFilename %}


{% block content %}
<header>
    <p>Your questions and comments are important to us! Please use the form below or send us an email, and note that the more information you provide, the better we can serve you.</p>
    <br>
    <div class="contact-container">
        <!-- Combined Problem/Comment Form -->
        <details>
            <summary>Have Feedback or an Issue? Let Us Know!</summary>
            <section id="feedback">
                <form id="feedback-form" method="post" action="{% url 'home:contact' %}">
                    {% csrf_token %}
                    {{contact_form.as_p}}
                    <button class="button" type="submit">Send Message</button>
                </form>
                <br>
                <p>(Or contact us via our email : test@gmail.com)</p>
            </section>
            <br><br>
        </details>
        
        <!-- Artist Inquiry Section -->
        <details>
            <summary>Artist Inquiries</summary>
            <p>Are you an artist interested in showcasing your work with us? All you have to do is go to account details section <a href="{% url 'home:dashboard' %}">here</a>, and become an artist!</p>
            <br><br>
        </details>
        
        <!-- Find Us Section -->
        <details>
            <summary>Where can you find us?</summary>
            <p>We're currently located here : <br> <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.129508682563!2d-5.0143111177123965!3d34.0405488491638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd9f8b2f9d46585f%3A0xf1b710775053bbc6!2sFlamenco%20cafe!5e0!3m2!1sen!2sma!4v1691324448356!5m2!1sen!2sma" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                <br><br>We also have several social media pages. <br> Feel free to take a tour!
            </p>
            <header class="icons">
                <a href="https://www.facebook.com/elkharbili1/" target="_blank" title="Facebook page"><img width="64" height="64" src="{% static 'images/icons/facebook-icon.png' %}" alt=""></a>
                <a href="" title="Instagram page"><img width="64" height="64" src="{% static 'images/icons/instagram-icon.png' %}" alt=""></a>
            </header>
            <br><br>
        </details>
        
        <!-- Newsletter Signup Section -->
        <details open>
            <summary>Stay Informed with Our Newsletter</summary>
            <section id="newsletter-signup">
                <p>Get the latest on new artworks, artist features, and exclusive offers.</p>
                <form id="newsletter-form" method="post">
                    {% csrf_token %}
                    {{newsletter_form.as_p}}
                    <button class="button" type="submit">Submit</button>
                </form>
            </section>
            <br><br>
        </details>
        <br><br>
    </div>
    
</header>
{% endblock content %}