{% extends 'partials/base.html' %}

{% load static %} 

{% block title %} Home {% endblock title %}

{% block cssFilename %} /static/homestyle.css {% endblock cssFilename %}

{% block script %} /static/homejs.js {% endblock script %}

{% block header %}
&nbsp;
{% endblock header %}
{% block content %}
<header id="header-0">
    <div>
        <h1>Artful Atlas</h1>
        <h2>Welcome to Artful Atlas - your gateway to a world of Moroccan art and culture. Explore our diverse collection and experience the beauty of Moroccan artworks.</h2>
        <h2 id="down00">Explore</h2>
    </div>
    <img src="{% static 'images/paintings/elderly-riad.png' %}" alt="">
</header>

<header id="selection" class="first-header">
    <!-- <h1 id="first-h1">Stare at her enough...</h1> -->
    <!-- <img id="first" src="{% static 'images/images-testing/1most-beautiful.png' %}" alt="Image of a young lady"> -->
    <!-- <h1 id="second-h1">And it starts to look Alive </h1> -->
    <h1 id="third-h1">Selection of the month</h1>
    <h1 id="fourth-h1">-Mehdi Ragani</h1>
    <img id="down0" src="{% static 'images/arrows/down.png' %}" alt="Scroll-Down">
</header>

<header id="nav" class="sticky">
    <nav class="flexboxcontainer">
        <a class="flexbox" href="{% url 'home:index' %}"><img class="logo0" src="{% static 'images/logos-images/logo0.png' %}" alt=""></a>
        <a class="flexbox" href="{% url 'home:index' %}">Home</a>
        <a class="flexbox" href="services.html">Services</a>
        <a class="flexbox" href="contact.html">Contact</a>
        <a class="flexbox" href="sell.html">Sell</a>
        <a class="flexbox" href="about.html">About</a>
        <a class="flexbox" href="artists.html">Artists</a>
        <a class="flexbox" href="store">Store</a>
        <div class="flexbox dropdown">
            <a>Account</a>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Settings</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'userauths:logout' %}">Log out</a>
                {% else %}
                <a href="{% url 'userauths:login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<header id="intro1">
    <br><br>
    <h1>Exclusive Artworks</h1>
    <figure>
      <img id="intro2" class="animate" src="{% static 'images/paintings/souq.jpg' %}" alt="">
      <span class="larger">Dive deeper into the world of art collecting with our <a href="store2.html">limited edition Exclusive Artworks</a>. Explore the depths of creativity and discover the perfect piece to elevate your space.</span>
      <img id="intro3" class="animate" src="{% static 'images/paintings/souq2.png' %}" alt="">
      <img id="intro4" class="animate" src="{% static 'images/paintings/city2.jpg' %}" alt="">
    </figure>
  </header>

<!-- <header id="explore">
    <h1>And so, we leave you to explore our <span style="color:lightskyblue">Artful Atlas!</span></h1>
</header> -->

<header id="featured-products">
    <br><br>
    <h1>Featured Products</h1>
    <span class="larger">Enjoy our collection of standout <a href="store2.html">Featured Products</a>, each chosen for its exceptional quality and artistic merit. These handpicked pieces offer a touch of elegance for any space. Find your next statement artwork and elevate your surroundings with timeless beauty.</span>
    <section class="flex0">
        <div>
            <span class="larger">- Artist Name</span>
            <img class="featured-product" src="{% static 'images/paintings/door2.jpg' %}" alt="Front Door">
        </div>
        <div>
            <img class="featured-product" src="{% static 'images/paintings/city1.jpg' %}" alt="A view from the balcony">
            <span class="larger">- Artist name</span>
        </div>
        <div>
            <span class="larger">- Artist name</span>
            <img class="featured-product" src="{% static 'images/paintings/home1.jpg' %}" alt="Home sweet home">
        </div>
    </section>
    <br><br><br><br><br><br>
</header>

<header class="flex">
    <header id="slider1" class="slider">
        <h1>Our Artists</h1>
        <div class="slider-images">
            <img class="slider-image" src="{% static '/images/images-testing/2.jpg' %}" alt="Image 2">
            <img class="slider-image" src="{% static '/images/images-testing/3.jpg' %}" alt="Image 3">
            <img class="slider-image" src="{% static '/images/images-testing/4.jpg' %}" alt="Image 4">
            <img class="slider-image" src="{% static '/images/images-testing/5.jpg' %}" alt="Image 5">
            <img class="slider-image" src="{% static '/images/images-testing/6.webp' %}" alt="Image 6" width="600">
        </div>
        <!-- <div class="slider-arrows">
            <img class="slider-arrow left-arrow" src="{% static '/images/arrows/left.png' %}" alt="Previous">
            <img class="slider-arrow right-arrow" src="{% static '/images/arrows/right.png' %}" alt="Next">
        </div> -->
    </header> 
    
    <header id="slider2" class="slider">
        <h1>Their touch</h1>
        <div class="slider-images">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/1.jpeg' %}">                    
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/2.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/3.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/4.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/5.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/6.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/7.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/8.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/9.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/10.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/11.jpeg' %}">
            <img class="slider2-image" src="{% static 'images/images-testing/second-type/12.jpeg' %}">
        </div>
        <!-- <div class="slider-arrows">
            <img class="slider-arrow left-arrow" src="{% static '/images/arrows/left.png' %}" alt="Previous">
            <img class="slider-arrow right-arrow" src="{% static '/images/arrows/right.png' %}" alt="Next">
        </div> -->
    </header>
</header>

<header id="discover-artists">
    <span class="larger">Discover a curated collection of captivating artworks by Moroccan talented artists. From mesmerizing paintings to exquisite landscapes, explore diverse expressions of creativity that inspire and enrich. Dive into our artists' corner and find the perfect piece to elevate your space.</span>
    <h1 id="h1-artists">More about our  <a href="artists.html">artists</a></h1>
</header>

<br><br>
<hr>
<h1>Testimonials!</h1>
<hr>
<h1>Ratings</h1>
<hr>
{% endblock content %}
