{% extends 'partials/base.html' %}

{% load static %} 

{% block title %} Home {% endblock title %}

{% block cssFilename %} /static/homestyle.css {% endblock cssFilename %}

{% block script %} /static/homejs.js {% endblock script %}

{% block header %}
&nbsp;
{% endblock header %}
{% block content %}
<header id="header-0">
    <div>
        <h1>Artful Atlas</h1>
        <h2>Welcome to Artful Atlas - your gateway to a world of Moroccan art and culture. Explore our diverse collection and experience the beauty of Moroccan artworks.</h2>
        <h2 id="down00">Explore</h2>
    </div>
    <img src="{% static 'images/paintings/elderly-riad.png' %}" alt="">
</header>

<a href="{% url 'home:product-details' chosen_product.pid %}">
    <header id="selection" class="first-header">
        <!-- <h1 id="first-h1">Stare at her enough...</h1> -->
        <!-- <img id="first" src="{% static 'images/images-testing/1most-beautiful.png' %}" alt="Image of a young lady"> -->
        <!-- <h1 id="second-h1">And it starts to look Alive </h1> -->
        <h1 id="third-h1">Selection of the month</h1>
        <h1 id="fourth-h1">-{{chosen_product.artist}}</h1>
        <img style="display:none;" id="down0" src="{% static 'images/arrows/down.png' %}" alt="Scroll-Down">
</header>
</a>
<!-- We added this script because we want to handle the artwork of the month manually, but I have it as a css property, not an image tag, so I found a workaround -->
<script>
    var imageUrl = "{{chosen_product.image.url}}";
    document.getElementById("selection").style.backgroundImage = "url(" + imageUrl + ")";
</script>

<header id="nav" class="sticky">
    <nav class="flexboxcontainer">
        <a class="flexbox" href="{% url 'home:index' %}"><img class="logo0" src="{% static 'images/logos-images/logo0.png' %}" alt=""></a>
        <a class="flexbox" href="{% url 'home:index' %}">Home</a>
        <a class="flexbox" href="{% url 'home:services' %}">Services</a>
        <a class="flexbox" href="{% url 'home:contact' %}">Contact</a>
        <a class="flexbox" href="sell.html">Sell</a>
        <a class="flexbox" href="{% url 'home:about' %}">About</a>
        <a class="flexbox" href="{% url 'home:artists' %}">Artists</a>
        <a class="flexbox" href="{% url 'home:store' %}">Store</a>
        <div class="flexbox dropdown">
            <a href="{% url 'home:dashboard' %}">Account</a>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Settings</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'userauths:logout' %}">Log out</a>
                {% else %}
                <a href="{% url 'userauths:login' %}">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="flexbox">
            <a class="cart" href="{% url 'home:cart' %}">
                <img class="icons" src="{% static 'images/icons/cart.png' %}" alt="cart icon" width="25" height="25">
                <span id="cart-counter">{{request.session.cart_data_object|length}}</span>
            </a>
        </div>
        <div class="flexbox">
            <a class="cart" href="{% url 'home:wishlist' %}">
                <img class="icons" src="{% static 'images/icons/heart.png' %}" alt="cart icon" width="25" height="25">
                <span id="wishlist-counter">{{wishlist_count}}</span>
            </a>
        </div>
    </nav>
</header>

<header id="intro1">
    <br><br>
    <h1 title="Unique artworks (no copies)">Exclusive Artworks</h1>
    <figure>
        {% for p in exclusive_products %}
            {% if forloop.counter0 == 0 %}
                <a href="{% url 'home:product-details' p.pid %}"><img id="intro2" class="animate-trigger" src="{{p.image.url}}" alt=""></a>
            {% endif %}
        {% endfor %}
      <span class="larger">Dive deeper into the world of art collecting with our <a href="store2.html">limited edition Exclusive Artworks</a>. Explore the depths of creativity and discover the perfect piece to elevate your space.</span>
        {% for p in exclusive_products %}
            {% if forloop.counter0 == 1 %}
                <a href="{% url 'home:product-details' p.pid %}"><img id="intro3" class="animate-trigger" src="{{p.image.url}}" alt=""></a>
            {% endif %}
            {% if forloop.counter0 == 2 %}
                <a href="{% url 'home:product-details' p.pid %}"><img id="intro4" class="animate-trigger" src="{{p.image.url}}" alt=""></a>
            {% endif %}
        {% endfor %}
    </figure>
  </header>

<!-- <header id="explore">
    <h1>And so, we leave you to explore our <span style="color:lightskyblue">Artful Atlas!</span></h1>
</header> -->

<header id="featured-products">
    <br><br>
    <h1 title="Popular artworks">Featured Artworks</h1>
    <span class="larger">Enjoy our collection of standout <a href="store2.html">Featured Products</a>, each chosen for its exceptional quality and artistic merit. These handpicked pieces offer a touch of elegance for any space. Find your next statement artwork and elevate your surroundings with timeless beauty.</span>
    <section class="flex0">
        {% for p in featured_products %}
        <div>
            <a class="larger" style="text-decoration:underline;" href="{% url 'home:artist-details' p.artist.aid %}">{{p.artist}}</a>
            <a href="{% url 'home:product-details' p.pid %}"><img class="featured-product" src="{{p.image.url}}" alt="Artwork"></a>
        </div>
        {% endfor %}
    </section>
    <br><br><br><br><br><br>
</header>

<header class="flex">
    <header id="slider1" class="slider">
        <h1>Our Artists</h1>
        <div class="slider-images">
            {% for p in products %}
            <a href="{% url 'home:artist-details' p.artist.aid %}">
                <img class="slider-image" src="{{p.artist.image.url}}" alt="Image 2">
            {% endfor %}
            </a>
        </div>
        <!-- <div class="slider-arrows">
            <img class="slider-arrow left-arrow" src="{% static '/images/arrows/left.png' %}" alt="Previous">
            <img class="slider-arrow right-arrow" src="{% static '/images/arrows/right.png' %}" alt="Next">
        </div> -->
    </header> 
    
    <header id="slider2" class="slider">
        <h1>Their touch</h1>
        <div class="slider-images">
            {% for p in products %}
            <a href="{% url 'home:product-details' p.pid %}">
                <img class="slider2-image" src="{{p.image.url}}">
            </a>
            {% endfor %}                    
        </div>
        <!-- <div class="slider-arrows">
            <img class="slider-arrow left-arrow" src="{% static '/images/arrows/left.png' %}" alt="Previous">
            <img class="slider-arrow right-arrow" src="{% static '/images/arrows/right.png' %}" alt="Next">
        </div> -->
    </header>
</header>

<header id="discover-artists">
    <span class="larger">Discover a curated collection of captivating artworks by Moroccan talented artists. From mesmerizing paintings to exquisite landscapes, explore diverse expressions of creativity that inspire and enrich. Dive into our artists' corner and find the perfect piece to elevate your space.</span>
    <h1 id="h1-artists">More about our  <a href="artists.html">artists</a></h1>
</header>

<br><br><br><br>

<h1>Testimonials!</h1>
<section id="reviews">
    {% if not reviews %}
    <br>
    <span class="larger">No testimonials yet.</span>
    <br>
    {% else %}
        {% for r in reviews %}
        <div class="flex" id="review">
            <img id="user-profile-picture" src="{% static 'images/sign-up/customer.jpg' %}" alt="">
            <h3>{{r.user.username|title}}</h3> <br>
            <p>{{r.date|date:"F d, Y"}}</p> <br>
        </div>
        <p style="text-align:start;"> - {{r.review}}</p> <br>
    {% endfor %}
    {% endif %}
    
    {% if make_review == True %}
    {% if request.user.is_authenticated %}
    <div id="hide">
        <h3>Add a testimonial</h3>
        <form action="{% url 'home:index' %}" id="addReview" method="post">
            {% csrf_token %}
            <p>{{review_form.review}}</p>
            <input type="hidden" name="action" value="review">
            <button class="button" id="submit" type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
    {% endif %}
    <br><br>
    <p id="review-message"></p>
    {% if not request.user.is_authenticated %}
        <p>You must be logged in to be able to post a comment or a review. 
            <a href="{% url 'userauths:login' %}?next={{ current_url }}">Log in</a>
        </p>
        <br>
        <p>Don't have an account yet? <a href="{% url 'userauths:sign-up' %}">Sign up</a></p>
    {% endif %}
</section>

<br><br><br>

<h1>Customer Ratings</h1>
<section id="ratings">
    {% if not ratings %}
    <br>
    <span class="larger">No ratings yet.</span>
    <br>
    {% else %}
        {% if rating_count == 1  %} 
        <p>1 User rating.</p>
        {% else  %}
        <p>{{rating_count}} Users ratings</p>
        {% endif %}

        <br>
        <h2>Current Score : {{average_rating.rating|floatformat}}  /5</h2>
    {% endif %}

    {% if make_rating == True %}
    {% if request.user.is_authenticated %}
    <div>
    <h3>Rate us!</h3>
        <form action="{% url 'home:index' %}" id="addReview" method="post">
            {% csrf_token %}
            <p>{{rating_form.rating}}</p>
            <input type="hidden" name="action" value="rating">
            <button class="button" id="submit" type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
    {% endif %}
    <p id="review-message"></p>
    <br><br>
    {% if not request.user.is_authenticated %}
        <p>You must be logged in to be able to post a comment or a review. 
            <a href="{% url 'userauths:login' %}?next={{ current_url }}">Log in</a>
        </p>
        <br>
        <p>Don't have an account yet? <a href="{% url 'userauths:sign-up' %}">Sign up</a></p>
    {% endif %}
</section>
<br><br><br>
{% endblock content %}
