{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'messagesstyle.css' %}">
    <link rel="stylesheet" href="{% static 'sharedstyle.css' %}">
    <link rel="icon" href="/static/images/logos-images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="{% block cssFilename %} {% endblock cssFilename %}">  <!--To include the specific style file-->
    <script defer src="{% block script %}{% endblock script %}"></script>
    <script src="{% static 'messagesjs.js' %}" defer></script>
    <script src="{% static 'cart.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'wishlistjs.js' %}" defer></script>
    <title>{% block title %} {% endblock title %} </title>
</head>
<body>
    <div id="message-container">Item added!</div>

    <!-- Handling the login / sign-up / etc messages -->
    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="message" data-tags="{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% block header %}
    <header id="nav" class="sticky">
        <nav class="flexboxcontainer">
            <a class="flexbox" href="{% url 'home:index' %}"><img class="logo0" src="{% static 'images/logos-images/logo0.png' %}" alt=""></a>
            <a class="flexbox" href="{% url 'home:index' %}">Home</a>
            <a class="flexbox" href="services.html">Services</a>
            <a class="flexbox" href="contact.html">Contact</a>
            <a class="flexbox" href="sell.html">Sell</a>
            <a class="flexbox" href="about.html">About</a>
            <a class="flexbox" href="{% url 'home:artists' %}">Artists</a>
            <a class="flexbox" href="{% url 'home:store' %}">Store</a>
            <div class="flexbox dropdown">
                <a href="{% url 'home:dashboard' %}">Account</a>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'userauths:logout' %}">Log out</a>
                    {% else %}
                    <a href="{% url 'userauths:login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
            <div class="flexbox">
                <a class="cart" href="{% url 'home:cart' %}">
                    <img class="icons" src="{% static 'images/icons/cart.png' %}" alt="cart icon" width="25" height="25">
                    <span id="cart-counter">{{request.session.cart_data_object|length}}</span>
                </a>
            </div>
            <div class="flexbox">
                <a class="cart" href="{% url 'home:wishlist' %}">
                    <img class="icons" src="{% static 'images/icons/heart.png' %}" alt="cart icon" width="25" height="25">
                    <span id="wishlist-counter">{{wishlist_count}}</span>
                </a>
            </div>
        </nav>
    </header>

{% endblock header %}

    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <footer class="footer2">
        <div class="parent">
            <div class="div1">
                <h3 class="gridbox">How may we help you?</h3>
                <p><a href="faqs.html">FAQS</a></p>
                <br>
                <p><a href="contact.html">Contact us</a></p> 
            </div>

            <div class="div2"> 
                <h3>Learn more</h3>
                <p>Learn more <a href="about.html">about us</a></p>
                <br>
                <p>Learn more about our <a href="artists.html">artists</a></p>
            </div>

            <div class="div3">
                <h3>Customer services</h3>
                <p>Discover our <a href="services.html">services</a></p>
            </div>
        <div class="div4">
            <h3>Shop now</h3>
            <p>Visit our <a href="store2.html">store</a></p>
        </div>
        <div class="div5">
            <h3>language</h3>
                <p>English - <a href="">Change</a></p>
        </div>
    </div>
        <br>
        <br>
        <p>Copyright &copy; 2024 Artful Atlas. All rights reserved</p>
        <hr>
        <a href="index.html"><img class="logo" src="{% static 'images/logos-images/logo.png' %}" alt="Artful Atlas Logo"></a>
    </footer>
    
</body>
</html>