{% extends 'partials/base.html' %}

{% load static %}

{% block title %} Details {% endblock title %}

{% block cssFilename %} /static/artist-details-style.css {% endblock cssFilename %}

{% block script %} /static/artist-details-js.js {% endblock script %}


{% block header %}
{% endblock header %}

{% block content %}
    <header id="profile-artwork" style="background-image: url('{{ artist.profileArtworkImage.url }}');" data-image-url="{{ artist.profileArtworkImage.url }}">
        <img class="profile-picture" src="{{ artist.image.url }}" alt="Profile picture">
    </header>

    <section id="media">
        <br>
        <section class="flex">
            <span>Follow {{artist.name}} :</span>
            {% if artist.facebook != None and artist.instagram != None %}
            <a href="{{artist.facebook}}"><img class="icons2" src="{% static 'images/icons/facebook-icon.png' %}" alt=""></a>
            <a href="{{artist.instagram}}"><img class="icons2" src="{% static 'images/icons/instagram-icon.png' %}" alt=""></a>
            {% else %}
            <p>No social media have <br> been provided yet.</p>
            {% endif %}
        </section>
        <section class="right">
            <span>Comments & Reviews : <a href="#comments">{{reviews.count}}</a></span>
        </section>
    </section>

    <h1 style="text-align:center"> {{artist.name}} </h1>
    <br>
    <section class="profile-info">
        <p>{{artist.views}}</p> &nbsp;
        <img class="icons" src="{% static 'images/icons/eye.png' %}" alt="Eye Icon">
        &nbsp;&nbsp;
        <p>{{artist.city}}</p> &nbsp;
        <img class="icons" src="{% static 'images/icons/location.png' %}" alt="Location Icon">
        &nbsp;&nbsp;
        <p>Short Bio : &nbsp; </p>
        <p>{{artist.shortBio}}</p>
    </section>
    <br>      
    <br>
    <section id="profile-details">
        <h1>Biography</h1>
        <br>
        <p>{{artist.biography}}</p>
        <br>

        <h1>Description</h1>
        <br>
        <p>{{artist.description}}</p>
        <br>
        <p>Below is a list of the artist's techniques, styles, philosophies and subject matters :</p>
        <p>Techniques : {{artist.technique}}</p>
        <p>Styles :{{artist.style}}</p>
        <p>Philosophies : {{artist.philosophy}}</p>
        <p>Subject matters : {{artist.subject_matter}}</p>

        <br>
        <h1 id="comments">Comments & Reviews</h1>
        
        <section id="reviews">
            {% if not reviews %}
            <br>
            <p>No reviews or comments yet.</p>
            <br>
            {% else %}
                <p style="text-align:end">Average rating : {{average_rating.rating|floatformat}}  /5</p>
                {% for r in reviews %}
                <div class="flex" id="review">
                    <img id="user-profile-picture" src="{% static 'images/sign-up/customer.jpg' %}" alt="">
                    <h3>{{r.user.username|title}}</h3> <br>
                    <h3>{{r.get_rating_display}}</h3>
                    <p>{{r.date|date:"F d, Y"}}</p> <br>
                </div>
                <p> - {{r.review}}</p> <br>
            {% endfor %}
            {% endif %}

            {% if make_review == True %}
            {% if request.user.is_authenticated %}
            <div id="hide">
            <h3>Add a review</h3>
                <form action="{% url 'home:add-artist-review' artist.id %}" id="addReview" method="post">
                    {% csrf_token %}
                    <p>{{review_form.review}}</p>
                    <p>{{review_form.rating}}</p>
                    <button class="button" id="submit" type="submit">Submit</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
            <p id="review-message"></p>
            {% if not request.user.is_authenticated %}
                <p>You must be logged in to be able to post a comment or a review. 
                    <a href="{% url 'userauths:login' %}?next={{ current_url }}">Log in</a>
                </p>
                <br>
                <p>Don't have an account yet? <a href="{% url 'userauths:sign-up' %}">Sign up</a></p>
            {% endif %}
        </section>
        <br>
        <br>
        <h1>Artworks</h1>
    </section>
    <section class="store">
        {% if not artist.product.exists %}
                <p>No Artworks yet.</p>
        {% endif %}
        {% for product in artist.product.all %}
        {% if product.product_status == "published" %}
            <figure>
                <a data-product-url="{% url 'home:product-details' product.pid %}" href="{% url 'home:product-details' product.pid %}">
                    <img class="store-images" src="{{product.image.url}}" alt="">
                </a>
            <a data-product-url="{% url 'home:product-details' product.pid %}" href="{% url 'home:product-details' product.pid %}" target="_blank" ><p class="view-more">View More</p></a>
            <p>{{product.title}}</p>
            <p class="price">{{ product.price }}</p> <span id="currency">dh</span>
            <p> By <a id="artist-name" href="{% url 'home:artist-details' product.artist.aid %}">{{product.artist}}</a> </p>
            <input type="hidden" class="product-id" value="{{product.id}}" name="" id="">
            <input type="hidden" class="product-title" value="{{product.title}}" name="" id="">
            {% if product.available == True %}
            <p class="cart-button">Add To Cart</p>
            <br>
            {% if request.user.is_authenticated %}
            <p class="add-to-wishlist wish-button" data-product-item="{{product.id}}">Add to Wishlist</p>
            {% endif %}
            {% endif %}
            </figure>
        {% endif %}
        {% endfor %}
    </section>
{% endblock content %}