{% extends 'partials/base.html' %}

{% load static %}

{% block cssFilename %} /static/artist-dashboardstyle.css {% endblock cssFilename %}

{% block script %} {% endblock script %}

{% block title %} Artist Dashboard {% endblock title %}

{% block header %}

{% endblock header %}

{% block content %}
{% include 'artist-dashboard/partials/header.html' %}

<header id="main">
    {% include 'artist-dashboard/partials/base.html' %}

    
    <section id="orders" class="content flex-item">
        <h1>Orders</h1>
        {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Artwork Status</th>
                    <th>Paid Status</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr>
                    <td>{{o.oid}}</td>
                    <td>{{o.order_date}}</td>
                    <td>{{o.product_status|title}}</td>
                    {% if o.paid_status == True %}
                        <td><img class="icons" src="{% static 'images/icons/checked.png' %}" alt=""></td>
                    {% else %}
                        <td><img class="icons" src="{% static 'images/icons/unchecked.png' %}" alt=""></td>
                    {% endif %}
                    <td>{{o.price}}</td>
                    <td><a href="{% url 'artist-dashboard:order-details' o.id %}">View Order details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <p>No orders yet.</p>
        {% endif %}
    </section>
</header>

{% endblock content %}