{% extends 'partials/base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block cssFilename %} /static/artistsstyle.css {% endblock cssFilename %}

{% block script %} /static/artistsjs.js {% endblock script %}

{% block content %}
    <header class="center">
        <h1>Artists Haven</h1>
        <br>
        <br>
        <p> {% if not query and not location and not selected_techniques and not selected_styles and not selected_subjects and not selected_philosophies %}
            <p>No search filters provided. Listing all artists.</p>
        {% else %}
            <p>Search results for:</p>
            {% if query and not location %}
                <p>Artist's name: <span class="search-results">{{ query }}</span></p>
            {% elif not query and location %}
                <p>Artist's location: <span class="search-results">{{ location }}</span></p>
            {% elif query and location %}
                <p>Artist's name: <span class="search-results">{{ query }}</span> and location: <span class="search-results">{{ location }}</span></p>
            {% endif %}
            
            {% if selected_techniques %}
                <p>Selected Techniques:</p>
                <ul class="search-filters">
                    {% for technique in selected_techniques %}
                        <li><span class="search-results">{{ technique.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if selected_styles %}
                <p>Selected Styles:</p>
                <ul class="search-filters">
                    {% for style in selected_styles %}
                        <li><span class="search-results">{{ style.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if selected_subjects %}
                <p>Selected Subjects:</p>
                <ul class="search-filters">
                    {% for subject in selected_subjects %}
                        <li><span class="search-results">{{ subject.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if selected_philosophies %}
                <p>Selected Philosophies:</p>
                <ul class="search-filters">
                    {% for philosophy in selected_philosophies %}
                        <li><span class="search-results">{{ philosophy.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            {% if not artists %}
            <p>No artists with your filters found.</p>
            {% endif %}

        {% endif %}          
        </p>
    </header>

    <header id="filter">
        <form action="{% url 'home:artist-search' %}" method="GET">
            <h3 id="filter-header"> <img class="icons" src="{% static 'images/icons/filter.png' %}" alt=""> Search for an Artist </h3> 
            <button id="search" type="submit"><img class="icons" src="{% static 'images/icons/search.png' %}" alt=""></button>
            <section id="drop-content" class="hidden">
                <div>
                    <p>Name</p>
                    <input type="text" placeholder ="Artist's name.." name="q">
                </div>   

                <div>
                    <p>Techniques used</p>
                    <ul>
                        {% for t in all_techniques %}
                        <li class="filter-item" data-category="techniques" data-id="{{ t.id }}">{{ t.title }}</li>
                        <input type="checkbox" class="checkbox-hidden" name="techniques" value="{{ t.id }}">
                        {% endfor %}
                    </ul>
                </div>
                
                <div>
                    <p>Styles used</p>
                    <ul>
                        {% for s in all_styles %}
                        <li class="filter-item" data-category="styles" data-id="{{ s.id }}">{{ s.title }}</li>
                        <input type="checkbox" class="checkbox-hidden" name="styles" value="{{ s.id }}">
                        {% endfor %}
                    </ul>
                </div>
                
                <div>
                    <p>Subject Matter</p>
                    <ul>
                        {% for s in all_subjects %}
                        <li class="filter-item" data-category="subjects" data-id="{{ s.id }}">{{ s.title }}</li>
                        <input type="checkbox" class="checkbox-hidden" name="subjects" value="{{ s.id }}">
                        {% endfor %}
                    </ul>
                </div>
                
                <div>
                    <p>Artistic philosophy</p>
                    <ul>
                        {% for p in all_philosophies %}
                        <li class="filter-item" data-category="philosophies" data-id="{{ p.id }}">{{ p.title }}</li>
                        <input type="checkbox" class="checkbox-hidden" name="philosophies" value="{{ p.id }}">
                        {% endfor %}
                    </ul>
                </div>

                <div id="location-filter">
                    <p>Location</p>
                    <input type="text" id="location-input" placeholder="Search for a city..." name="location">
                    <!-- <div id="selected-locations"></div> -->
                </div>
            </section>
            <!-- <h3 style="text-align:end"><a id="artists-link" href="#">View all Artists</a></h3> -->
        </form>
    </header>

    <header id="profiles">
        {% for a in artists %}
        <section class="profile-info">
            <img class="profile-pictures" src="{{ a.image.url }}" alt="Profile picture">
            &nbsp;
            <a href="{% url 'home:artist-details' a.aid %}">{{a.name}}</a>
            &nbsp;&nbsp;
            <p>{{a.views}}</p> &nbsp;
            <img class="icons" src="{% static 'images/icons/eye.png' %}" alt="Eye Icon">
            &nbsp;&nbsp;
            <p>{{a.city}}</p> &nbsp;
            <img class="icons" src="{% static 'images/icons/location.png' %}" alt="Location Icon">
            &nbsp;&nbsp;
            <p>Short Bio : &nbsp; </p>
            <p>{{a.shortBio}}</p>
        </section>
        <br>
        <section class="profile-artworks">
            {% for p in a.product.all %}
                {% if p.product_status == "published" %}
                <img class="artworks landscape" src="{{p.image.url}}" alt="">
                {% endif %}
            {% endfor %}
            <img class="artworks portrait" src="{% static 'images/paintings/souq2.png' %}" alt="">
            <img class="artworks landscape" src="{% static 'images/paintings/elderly-riad.png' %}" alt="">
            <img class="artworks portrait" src="{% static 'images/paintings/city1.jpg' %}" alt="">
            <img class="artworks portrait" src="{% static 'images/paintings/city1.jpg' %}" alt="">
            <a href="{% url 'home:artist-details' a.aid %}" class="artworks-link">{{ a.product.count }} artworks &gt;</a>
        </section>
        <br>
        {% endfor %}
    </header>
{% endblock content %}