{% extends 'partials/base.html' %}

{% load static %} 

{% block title %} Artworks Search Results {% endblock title %}

{% block cssFilename %} /static/storestyle.css {% endblock cssFilename %}

{% block script %} /static/storejs.js {% endblock script %}

{% block content %}
<div id="message-container">Item added!</div>

<h1>Artworks Haven</h1>
        <br>
        <br>
        <p> {% if not query and not selected_techniques and not selected_styles and not selected_subjects and not selected_philosophies %}
            <p>No search filters provided. Listing all artworks.</p>
        {% else %}
            <p>Search results for:</p>
            {% if query %}
                <p>Artwork's title: <span class="search-results">{{ query }}</span></p>
            {% endif %}
            
            {% if selected_techniques %}
                <p>Selected Techniques:</p>
                <ul class="search-filters">
                    {% for technique in selected_techniques %}
                        <li><span class="search-results">{{ technique.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if selected_styles %}
                <p>Selected Styles:</p>
                <ul class="search-filters">
                    {% for style in selected_styles %}
                        <li><span class="search-results">{{ style.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if selected_subjects %}
                <p>Selected Subjects:</p>
                <ul class="search-filters">
                    {% for subject in selected_subjects %}
                        <li><span class="search-results">{{ subject.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if selected_philosophies %}
                <p>Selected Philosophies:</p>
                <ul class="search-filters">
                    {% for philosophy in selected_philosophies %}
                        <li><span class="search-results">{{ philosophy.title }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if selected_price_ranges %}
                <p>Selected Price Ranges:</p>
                <ul class="search-filters">
                    {% for price_range in selected_price_ranges %}
                        <li><span class="search-results">{{ price_range }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endif %}          
        </p>

<header id="filter">
    <form action="{% url 'home:product-search' %}" method="GET">
        <h3 id="filter-header"> <img class="icons" src="{% static 'images/icons/filter.png' %}" alt=""> Search for an Artwork </h3> 
        <button id="search" type="submit"><img class="icons" src="{% static 'images/icons/search.png' %}" alt=""></button>
        <section id="drop-content" class="hidden"> 
            <div>
                <p>Title</p>
                <input type="text" placeholder ="Artwork's title.." name="q">
            </div>   
            
            <div>
                <p>Techniques used</p>
                <ul>
                    {% for t in all_techniques %}
                    <li class="filter-item" data-category="techniques" data-id="{{ t.id }}">{{ t.title }}</li>
                    <input type="checkbox" class="checkbox-hidden" name="techniques" value="{{ t.id }}">
                    {% endfor %}
                </ul>
            </div>
            
            <div>
                <p>Styles used</p>
                <ul>
                    {% for s in all_styles %}
                    <li class="filter-item" data-category="styles" data-id="{{ s.id }}">{{ s.title }}</li>
                    <input type="checkbox" class="checkbox-hidden" name="styles" value="{{ s.id }}">
                    {% endfor %}
                </ul>
            </div>
            
            <div>
                <p>Subject Matter</p>
                <ul>
                    {% for s in all_subjects %}
                    <li class="filter-item" data-category="subjects" data-id="{{ s.id }}">{{ s.title }}</li>
                    <input type="checkbox" class="checkbox-hidden" name="subjects" value="{{ s.id }}">
                    {% endfor %}
                </ul>
            </div>
            
            <div>
                <p>Artistic philosophy</p>
                <ul>
                    {% for p in all_philosophies %}
                    <li class="filter-item" data-category="philosophies" data-id="{{ p.id }}">{{ p.title }}</li>
                    <input type="checkbox" class="checkbox-hidden" name="philosophies" value="{{ p.id }}">
                    {% endfor %}
                </ul>
            </div>

            <div>
                <p>Price Range</p>
                <ul>
                    <li class="filter-item" data-category="price_range" data-id="under_500">Under 500</li>
                    <input type="checkbox" class="checkbox-hidden" name="price_range" value="under_500">
            
                    <li class="filter-item" data-category="price_range" data-id="500_1000">500-1000</li>
                    <input type="checkbox" class="checkbox-hidden" name="price_range" value="500_1000">
            
                    <li class="filter-item" data-category="price_range" data-id="1000_2000">1000-2000</li>
                    <input type="checkbox" class="checkbox-hidden" name="price_range" value="1000_2000">

                    <li class="filter-item" data-category="price_range" data-id="2000_5000">2000-5000</li>
                    <input type="checkbox" class="checkbox-hidden" name="price_range" value="2000_5000">

                    <li class="filter-item" data-category="price_range" data-id="5000_10000">5000-10000</li>
                    <input type="checkbox" class="checkbox-hidden" name="price_range" value="5000_10000">
            
                    <li class="filter-item" data-category="price_range" data-id="above_10000">Above 10000</li>
                    <input type="checkbox" class="checkbox-hidden" name="price_range" value="above_10000">
                </ul>
            </div>            
            
            </div>
        </section>
    </form>
</header>

<h1>Artworks</h1>

<header class="store">
    {% for product in products %}
        <figure>
            <a data-product-url="{% url 'home:product-details' product.pid %}" href="{% url 'home:product-details' product.pid %}">
                {% if product.image %}
                    <img class="store-images" src="{{ product.image.url }}" alt="{{ product.title }}">
                {% endif %}
            </a>
            <a data-product-url="{% url 'home:product-details' product.pid %}" href="{% url 'home:product-details' product.pid %}" target="_blank" ><p class="view-more">View More</p></a>
            <p>{{ product.title }}</p>
            <p class="price">{{ product.price }}</p> <span>dh</span>
            <p> By <a id="artist-name" href="{% url 'home:artist-details' product.artist.aid %}">{{product.artist}}</a> </p>
            <input type="hidden" class="product-id" value="{{product.id}}" name="" id="">
            <input type="hidden" class="product-title" value="{{product.title}}" name="" id="">
            <p class="cart-button">Add To Cart</p>
            <br>
            <p class="add-to-wishlist wish-button" data-product-item="{{product.id}}">Add to Wishlist</p>
        </figure>
    {% endfor %}
</header>
 
{% endblock content %}