body {
    font-size:x-large;
}

main {
    width:100%;
}

h1, h2,  h3 {
    margin-left:2%;
}
p {
    margin-left:4%;
}

a {
    color:black;
    font-weight:600;
    transition:300ms;
}

a:hover {
    color:lightseagreen;
    transition:300ms;
    text-shadow:1px 1px rgba(0, 0, 0, 0.7);
}

.icons {
    width:30px;
    height:30px;
}

/* Styling the images of the artwork and whatnot */

#artwork-overview {
    margin:3% auto 3% auto;
}

#artwork-images-container {
    max-width:500px;
}

#artwork-image {
    cursor:pointer;
    width:500px;
    height:500px;
    margin:1%;
    border:4px solid black;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width:1200px;
    max-height:700px;
}

.secondary-images {
    width:100px;
    height:100px;
    margin:1%;
    border:2px solid black;
    cursor:pointer;
}

.flex {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

/* Styling the information of the artwork */
#info {
    border-radius:10px;
    padding:2% 0;
    text-align:center;
}

.price {
    text-align:center;
}

#artwork-info {
    gap:100px;
    justify-content:space-evenly;
    text-align:start;
}

li {
    font-size:16px;
    list-style-position:inside;
    margin-left:2px;
}

#price {
    margin-left:10%;
}

/* Styling the buttons */

.button {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    color:white;
    font-weight:600;
    cursor:pointer;
    padding:2%;
    margin:3% 0;
    width:100%;
    text-align:center;
    transition:300ms;
    border:1px solid rgba(0, 0, 0, 0.4);
}

.button span {
    width:50%;
}
.cart-div {
    background-color:#212a2f;
}
.cart-div:hover {
    background-color:black;
}
#cart-button {
    background-color:#212a2f;
    opacity:1;
    font-size:20px;
    font-family:monospace;
    color:white;
    font-weight:600;
    cursor:pointer;
    width:100%;
    text-align:center;
    transition:300ms;
    border:none;
}

.offer {
    background-color:lightseagreen;
}
.offer:hover {
    background-color:darkcyan;
}
.wishlist {
    color:rgb(255, 77, 112);
    background-color:rgba(255, 182, 193, 0.7);
}
.wishlist:hover {
    background-color:lightpink;
}

/* Styling the extra info */
.extra-info {
    display:flex;
    flex-basis:25%;
    /* Change the flex basis for smaller screens */
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:2%;
    padding:2%;
    background-color:lightblue;
    width:300px;
    border-radius:10px;
    box-shadow:1px 1px 10px rgba(0,0,0,0.5);
}
.extra-info p {
    margin:3%;
}

/* Styling the comments / reviews section */
#user-profile-picture {
    width:100px;
    height:100px;
    border-radius:50%;
}
#reviews {
    padding:1%;
    background-color:lightblue;
}
#review {
    margin:3%;
    margin-bottom:1%;
    justify-content:flex-start;
    align-items:center;
}

#id_review, #id_rating {
    margin:1%;
    margin-bottom:0;
    width:90%;
    font-family:sans-serif;
}

button {
    background-color:#212a2f;
    color:whitesmoke;
}
#submit {
    width:50%;
    margin:1% auto 0 auto;
    border-radius:10px;
    padding:1% 2%;
}

button:hover {
    background-color:black;
}


/* Styling the artist's profile */
#profile {
    background-color:lightblue;
}

.profile-info {
    padding:3%;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}

.profile-pictures {
    border-radius:50%;
    width:130px;
    height:130px;
}

/* Styling the related artworks section */

.store {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10%;
}
.store-images {
    box-shadow:-10px 10px 10px rgba(0,0,0,0.4), 10px 10px 10px rgba(0,0,0,0.4);
    width:100%;
    height:300px;
    transition:300ms;
    /*
    border:26px solid;
    border-image:url(images/frame.png) 10% round;
    */
    margin-bottom:3%;
    
}
 
/* Will probably adjust this more */
.store-images:hover {
    box-shadow:-10px 10px 10px rgba(0,0,0,0.2), 10px 10px 10px rgba(0,0,0,0.2);
    border-width:30px; 
    transition:300ms;
    /* Thinking about changing the image, same image from a different angle */
} 


/* Messing with the style of whatever will be written*/
.store {
    text-align:center;
}
.store figure {
    font-size:18px;
    margin:2%;
}
.store figure p {
    padding:3%;
    margin-left:0;
}

/* Messing with "Add to Cart */
.cart-button, .wish-button {
    font-size:20px;
    font-weight:bolder;
    padding:3%;
    opacity:0;
    transition:300ms;
}
.cart-button {
    color:white;
    background-color:#212a2f;;
}
.wish-button {
    color:rgb(255, 77, 112);
    background-color: rgba(255, 182, 193, 0.7);
}
.wish-button:hover {
    background-color:lightpink;
}

figure:hover .cart-button, figure:hover .wish-button {
    opacity:1;
    transition:300ms;
}
.cart-button:hover, .wish-button:hover {
    box-shadow:-10px 10px 10px rgba(0,0,0,0.3), 10px 10px 10px rgba(0,0,0,0.2);
    cursor:pointer;
}

/* Adjusting "View More" and adding some effects */
.view-more {
    background-color:rgba(255,255,255,0.7); 
    width:100%;
    position:relative;
    bottom:15%;
    margin-bottom:-14%;
    opacity:0;
    transition:300ms;
}
figure:hover .view-more {
    opacity:1;
    cursor:pointer;
    transition:300ms;
}
.view-more a {
    font-weight:500;
    text-decoration:none;
    color:rgba(0,0,0,0.7);;
}

/* Make offer */

input, select {
    border: 10px solid skyblue;
    background-color: skyblue;
    width: 50%;
    display:block;
    margin:auto;
    height: 40px;
    border-radius: 15px;
    padding: 2%;
}
textarea {
    width:50%;
    display:block;
    margin:auto;
    border:10px solid skyblue;
    background-color:skyblue;
    border-radius:15px;
    padding:2%;
}
select {
    padding:0;
}

#offer-button {
    margin:2% auto 2% auto;
    width:400px;
    height:40px;
    border-radius:10px;
}
