body {
    font-family:monospace;
    text-align:center;
    font-size:larger;
    /* background-image:linear-gradient(to bottom,#212a2f,#00415a,#1E5162,#296E85); */
}
button {
    font-family:monospace;
}

#backgrounds {
    width:100%;
    height:100%;
    position:fixed;
    z-index:-10;
    display:flex;
}
#background1 {
    background-image:url(/static/images/sign-up/artist.jpg);
}
#background2 {
    background-image:url(/static/images/sign-up/customer.jpg);
}
.background-image {
    width:50vw;
    height:100vh;
    background-size:cover;
    background-position:left center;
    transition: filter 0.5s ease;
}

.bright {
    filter: brightness(1.5); /* Adjust the brightness as needed */
}
#customer, #artist {
    margin:2%;
}
#artist {
    margin-bottom:0;
}

input[type="radio"] {
    width:15px;
    height:15px;
    cursor:pointer;
}

#artist, #customer, #artist label, #customer label {
    cursor:pointer;
    transition:300ms;
    font-weight:900;
    font-size:20px;
}
#artist:hover, #customer:hover {
    cursor:pointer;
    color:lightseagreen;
    transition:300ms;
}
#id_user_type {
    cursor:default;
    text-align:start;
}
main {
    color:white;
    padding:3%;
    background-color:rgba(0,0,0,0.3);
    width:40%;
    /* margin:3% auto; */
    border-radius:15px;
}

a:hover {
    color:lightseagreen;
    transition:300ms;
}
a {
    font-weight:900;
    color:white;
    transition:300ms;
}

/* Styling the form  */

#form {
    margin:1%;
}
#form h1 {
    font-size:40px;
    margin:1%;
}

input {
    border:10px solid skyblue;
    background-color:skyblue;
    width:300px;
    height:50px;
    border-radius:15px;
    padding:2%;
    margin:2%;
}

#login, #privacy {
    color:white;
}

#submit, #google, #facebook {
    width:300px;
    padding:3%;
    margin:1%;
    display:inline-block;
    font-weight:900;
    font-size:15px;
    color:rgba(0,0,0,0.8);
    background-color:lightskyblue;
    border:1px solid rgba(0,0,0,0.5);
    border-radius:5px;
    transition:300ms;
}
#submit:hover {
    cursor:pointer;
    background-color:skyblue;
    transition:300ms;
}

.hr {
    margin:2% auto 1% auto;
    width:50%;
    color:rgba(255,255,255,0.5);
}

/* Styling google & facebook buttons */

#social-media a {
    text-decoration:none;
}
.icons {
    width:30px;
    height:30px;
}
#google, #facebook {
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color:whitesmoke;
    color:black;
    margin:2% auto 5% auto;
}

#facebook {
    background-color:#1877f2;
    color:whitesmoke;
}